{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% endblock %}
{% block body %}
<main>
<div class="navigation">
    <nav>
        <a href="" class="title">
            <li>😎KMS-Kanban Made Simple</li>
        </a>
    </nav>
    <a href="" class="btn-sm">Logout</a>
</div>

<div class="container">
    <div class="sidebar">
        <a href="" class="btn-mid"><i class="fa-solid fa-plus"></i> Add Logs</a>
        <a href="" class="btn-mid"> <i class="fa-solid fa-plus"></i> Invite Member's</a>
        <a href="" class="btn"><i class="fa-brands fa-product-hunt"></i> Product Logs</a>
        <a href="" class="btn"><i class="fa-solid fa-calendar-day"></i> Today</a>
        <a href="" class="btn"><i class="fa-solid fa-spinner"></i> Work in Progess</a>
        <a href="" class="btn"><i class="fa-solid fa-circle-check"></i> Done</a>
        <a href="" class="btn"><i class="fa-solid fa-lock"></i> Blocked</a>
        <a href="" class="btn"><i class="fa-solid fa-people-group"></i> Members</a>
        <a href="" class="btn"><i class="fa-solid fa-message"></i> Discussion</a>
        <a href="" class="btn"><i class="fa-solid fa-circle-exclamation"></i> Issues</a>
        <a href="" class="btn"><i class="fa-brands fa-github"></i> Github</a>
    </div>

    <div class="main">

        <div class="card">
            <span class="profile">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/bf/Pig_farm_Vampula_9.jpg" alt="">
                <div class="name">

                    <p class="name">Piggy</p>
                    <p class="tag">working</p>
                </div>
            </span>
            <span class="des">Is working on making feature of add to cart</span>
        </div>
        <div class="card">
            <span class="profile">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/bf/Pig_farm_Vampula_9.jpg" alt="">
                <div class="name">

                    <p class="name">Piggy</p>
                    <p class="tag">working</p>
                </div>
            </span>
            <span class="des">Is working on making feature of add to cart</span>
        </div>
        <div class="card">
            <span class="profile">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/bf/Pig_farm_Vampula_9.jpg" alt="">
                <div class="name">

                    <p class="name">Piggy</p>
                    <p class="tag">working</p>
                </div>
            </span>
            <span class="des">Is working on making feature of add to cart</span>
        </div>
        <div class="card">
            <span class="profile">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/bf/Pig_farm_Vampula_9.jpg" alt="">
                <div class="name">

                    <p class="name">Piggy</p>
                    <p class="tag">working</p>
                </div>
            </span>
            <span class="des">Is working on making feature of add to cart</span>
        </div>
        <div class="card">
            <span class="profile">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/bf/Pig_farm_Vampula_9.jpg" alt="">
                <div class="name">

                    <p class="name">Piggy</p>
                    <p class="tag">working</p>
                </div>
            </span>
            <span class="des">Is working on making feature of add to cart</span>
        </div>
        <div class="card">
            <span class="profile">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/bf/Pig_farm_Vampula_9.jpg" alt="">
                <div class="name">

                    <p class="name">Piggy</p>
                    <p class="tag">working</p>
                </div>
            </span>
            <span class="des">Is working on making feature of add to cart</span>
        </div>



</div>
</main>


{% endblock %}